@import url('https://fonts.googleapis.com/css?family=JSTIX+Two+Text');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  url("./assets/images/backgroud_black.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;



}
h1,h2,h3,h4,h5,h6 {
  font-family: 'STIX Two Text', sans-serif;
}

p, div, span {
  font-family: Montserrat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


